[submodule "event-service"]
	path = event-service
	url = https://github.com/ilhnmstf/event_service.git
[submodule "user-service"]
	path = user-service
	url = git@github.com:ilhnmstf/user_service.git
[submodule "infra"]
	path = infra
	url = https://github.com/ilhnmstf/infra.git
[submodule "news-feed-service"]
	path = news-feed-service
	url = https://github.com/ilhnmstf/news_feed_service.git
